{% extends "base.html" %}
{% block title %}About Dino-site!{% endblock %}
{% block content %}
    <h1>About Dino-site!</h1>
    <h2>Why do we love dinosaurs so much?</h2>
    <p>Dinosaurs capture our imagination and our hearts. Little kids who can't even read and write yet, can say</p>
    <p>So why not make a dynamite dino-site adn learn more about these terrifying yet lovable creatures?</p>
    <p>Its great practice for us as we leanr to make web applicaitons with flask, and maybe we'll learn some new tricks</p>
    <iframe width="560" height="315" src = "https://www.youtube.com/embed/ujby_E-5obQ" title="youtube"></iframe>
{% endblock %}