
<!DOCTYPE html>
<html lang="en">
<head>
    <!--￿CSS￿Styles￿-->
    <link rel="shortcut icon" href="images/favicon.ico">
    <!-- resets￿default￿browser￿styles￿-->
    <link rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css" integrity="sha512-
    NhSC1YmyruXifcj/KFRWoC561YpHpc5Jtzgvbuzx5VozKpWvQ+4nXhPdFgmx8xqexRcpAglTj9sIBWINXa8x5w=="  
    crossorigin="anonymous" referrerpolicy="no-referrer" />
    <!--￿custom￿styles￿-->
    <link rel="stylesheet" type="text/css" href="static/css/styles.css">
    <title>{% block title %}dino page{% endblock %}</title>
</head>
<body>
    {% block content %}{% endblock %}
</body>
</html>
